{% set scene_count = parameters.scene_names | length -%}
{% if scene_count == 1 -%}
The scene {{ parameters.scene_names[0] }} has been applied affecting {{ device_count }} device{% if device_count != 1 %}s{% endif %}.
{% else -%}
The scenes {% for scene in parameters.scene_names -%}
    {{ scene }}{% if not loop.last and loop.index != loop.length - 1 %}, {% elif loop.index == loop.length - 1 %} and {% endif %}
{%- endfor %} have been applied affecting {{ device_count }} device{% if device_count != 1 %}s{% endif %}.
{% endif %}
