Scenes {% for target in parameters.scene_names -%}
{{ target }}{% if not loop.last and loop.index != loop.length - 1 %}, {% elif loop.index == loop.length - 1 %} and {% endif %}
{%- endfor %} can be used.
